<!DOCTYPE html>
<html>
<head>
    <!-- EIP tags are illegal but stripped from production to give better inline perf !-->
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/milligram.css">
    <link rel="stylesheet" href="../css/main.css">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- This hack avoids the browser to send a favicon request !-->
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">
</head>
<body>
<main class="backgrounded">
    <div class="row pad-lg-top">
        <div class="column column-80 column-offset-10 bg-white min-h-lg box">
            <h2>Oubli de mot de passe</h2>
            <form>
                <fieldset>
                    <label for="login">Identifiant de connexion</label>
                    <input type="text" placeholder="Identifiant de connexion" id="login">
                    <!-- [IF] Verified token, display -->
                    <label for="password">Nouveau mot de passe</label>
                    <input type="password" placeholder="Nouveau mot de passe" id="password">
                    <label for="confirm">Confirmation du mot de passe</label>
                    <input type="password" placeholder="Confirmation du mot de passe" id="confirm">
                    <!-- [ENDIF] -->
                    <button class="button">Envoyer</button>
                    <a href="login.html" class="button button-clear">Annuler</a>
                </fieldset>
            </form>
        </div>
    </div>
</main>
</body>
</html>